<div class="body">
    <div class="container py-5">
        <div class="row text-center text-white">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-4">Gym Manager User Account Panel</h1>

                <br>
                <button class="btn btn-primary" (click)="openModal()">Create New User</button>
                <br>
            </div>
        </div>
    </div><!-- End -->


    <div class="container">
      <div *ngIf="loading" class="loading-overlay">
        <div class="loading-spinner"></div>
      </div>
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-5" *ngFor="let user of users">
            <div class="bg-white rounded shadow-sm py-4 px-4 text-center">
                <i class="fa-solid fa-trash fa-xl d-flex justify-content-end align-items-start hand-pointer " (click)="deleteUser(user.id);"></i><br>
                <img src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"><br>
              <span class="small text-uppercase text-muted">{{ user.email }}</span><br>
              <span class="small text-uppercase text-muted">{{ user.phoneNumber }}</span>
            </div>
          </div>
        </div>
    </div>
    <app-user-editor></app-user-editor>
</div>